<form class="input-group-form" id="registrationForm" [formGroup]="myRegistration" (ngSubmit)="tryRegister()" hidden>
  <h3 class="registration-title">Create your account</h3>
  <igx-input-group>
    <label igxLabel for="firstName">First Name</label>
    <input igxInput id="firstName" name="firstName" formControlName="firstName" type="text" [(ngModel)]="firstName" />
  </igx-input-group>
  <igx-input-group>
    <label igxLabel for="lastName">Last Name</label>
    <input igxInput id="lastName" name="lastName" formControlName="lastName" type="text" [(ngModel)]="lastName" />
  </igx-input-group>
  <igx-input-group>
    <label igxLabel for="username">Username</label>
    <input igxInput id="email" name="username" formControlName="username" type="text" [(ngModel)]="username" />
  </igx-input-group>
  <igx-input-group>
    <input igxInput id="registerPassword" name="password" type="password" formControlName="password" [(ngModel)]="password" />
    <label igxLabel for="password">Password</label>
  </igx-input-group>
  <div class="button-wrapper">
    <button igxButton="raised" type="submit" igxRipple [disabled]="!myRegistration.valid">SIGN UP</button>
  </div>
</form>