<form class="input-group-form" id="registrationForm" [formGroup]="registrationForm" (ngSubmit)="tryRegister()" hidden>
  <h3 class="registration-title">Create your account</h3>
  <igx-input-group>
    <label igxLabel for="name">Name</label>
    <input igxInput id="name" name="name" formControlName="name" type="text" />
  </igx-input-group>
  <igx-input-group>
    <label igxLabel for="username">Username</label>
    <input igxInput id="registerUssername" name="username" formControlName="username" type="text" />
  </igx-input-group>
  <igx-input-group>
    <label igxLabel for="email">Email</label>
    <input igxInput id="email" name="email" formControlName="email" type="text" />
  </igx-input-group>
  <igx-input-group>
    <input igxInput id="registerPassword" name="password" type="password" formControlName="password" />
    <label igxLabel for="password">Password</label>
  </igx-input-group>
  <div class="button-wrapper">
    <button igxButton="raised" type="submit" igxRipple [disabled]="!registrationForm.valid">SIGN UP</button>
  </div>
</form>
