.counter {
    background-color:yellow;    
    box-shadow: 0 0 3pt 2pt black;
    display: inline-block;
    width: 300px;
    height: 100px;
    border-radius: 15%;
    
    text-align: center;
    font-size: 500%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.start {
    border-radius: 50%;
    margin-right: 30px;
    box-shadow: 0 0 3pt 1pt green;
    background-color:  green;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}
.start:hover {
    background-color: rgb(76, 175, 80);
}

.stop {
    border-radius: 50%;
    margin-right: 30px;
    box-shadow: 0 0 3pt 1pt red;
    background-color: red;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.stop:hover {
    background-color: rgb(230, 90, 90);
}

.pause {
    border-radius: 50%;
    margin-right: 30px;
    box-shadow: 0 0 3pt 1pt blue;
    background-color: blue;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.pause:hover {
   background-color: rgb(90, 110, 220); 
}

.destroy {
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 29.8vw;
    box-shadow: 0 0 5pt 1pt rgb(173, 168, 168);
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.destroy:hover {
    background-color: rgb(83, 85, 100); 
}

#buttons {
    margin-top: 10px;
    margin-left: 24.75vw;
}

.buttonsVisualize > .start, .stop, .pause, .destroy {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

#const {
    margin-left: 25vw;
}

.blink {
    animation: blinker 1s linear infinite;
    color: rgb(255, 120, 0);
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}
  
@keyframes blinker {  
    50% { opacity: 0; }
}

.end {
    color: red;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}