.counter {
    background-color:yellow;    
    box-shadow: 0 0 3pt 2pt black;
    display: inline-block;
    width: 300px;
    height: 100px;
    border-radius: 15%;
    
    text-align: center;
    font-size: 500%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.start {
    box-shadow: 0 0 3pt 1pt green;
    background-color:  green;
}
.start:hover {
    background-color: rgb(35, 158, 39);
}

.reset {
    box-shadow: 0 0 3pt 1pt red;
    background-color: red;
}
.reset:hover {
    background-color: rgb(252, 101, 101);
}

.pause {
    box-shadow: 0 0 3pt 1pt blue;
    background-color: blue;
}
.pause:hover {
   background-color: rgb(90, 110, 220); 
}

.destroy {
    position:absolute; left: 105; top: 75;
    box-shadow: 0 0 5pt 1pt rgb(173, 168, 168);
    background-color: rgb(0, 0, 0);
}
.destroy:hover {
    background-color: rgb(83, 85, 100); 
}

.buttons {
    margin-top: 15px;
    position: relative;
}

.buttonsVisualize > .temp, .start, .reset, .pause, .destroy {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 50%;
    margin-right: 30px;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}



.blink {
    animation: blinker 1s linear infinite;
    color: rgb(255, 120, 0);
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}
  
@keyframes blinker {  
    50% { opacity: 0; }
}

.end {
    color: red;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}