<form class="input-group-form" id="loginForm" [formGroup]="loginForm" (ngSubmit)="tryLogin()">
  <h3 class="login-title">Welcome Back</h3>
  <igx-input-group>
    <igx-prefix>
      <igx-icon name="account_circle"></igx-icon>
    </igx-prefix>
    <label igxLabel for="username">Username</label>
    <input igxInput id="loginUsername" name="username" formControlName="username" type="text" />
  </igx-input-group>
  <igx-input-group>
    <igx-prefix>
      <igx-icon name="lock"></igx-icon>
    </igx-prefix>
    <input igxInput id="loginPassword" name="password" type="password" formControlName="password" />
    <label igxLabel for="password">Password</label>
  </igx-input-group>
  <div class="button-wrapper">
    <button igxButton="raised" type="submit" igxRipple [disabled]="!loginForm.valid">LOG IN</button>
  </div>
  <div class="register-container">
    <button id="register" type="button" igxButton="flat" igxRipple="lightskyblue" (click)="showRegistrationForm($event)">Register</button>
  </div>
  <div class="register-container" *ngIf="this.authService.has('Google')">
    <button type="button" id="openIDSignUpG" igxButton="raised" (click)="signUpG()">Sign Up Google</button>
  </div>
  <div class="register-container" *ngIf="this.authService.has('Facebook')">
    <button type="button" id="openIDSignUpFb" igxButton="raised" (click)="signUpFb()">Sign Up Facebook</button>
  </div>
  <div class="register-container" *ngIf="this.authService.has('Microsoft')">
    <button type="button" id="openIDSignUpMS" igxButton="raised" (click)="signUpMS()">Sign Up Microsoft</button>
  </div>
</form>
