<div igxLayout>
  <igx-nav-drawer #nav id="project-menu" isOpen="true" [enableGestures]='true' width="280px">
    <ng-template igxDrawer>
      <span igxDrawerItem [isHeader]="true">Views</span>
      <span *ngFor="let route of topNavLinks" igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active" routerLink="{{route.path}}">{{route.name}}</span>
    </ng-template>
  </igx-nav-drawer>
  <div class="main" igxFlex igxLayout igxLayoutDir="columns">
    <igx-navbar title="LoginView" actionButtonIcon="menu" (onAction)="nav.toggle()">
      <div *ngIf="userService.currentUser === null">
        <button #loginButton igxRipple="white" igxButton="flat" igxButtonColor="white" (click)="openDialog()">Log In</button>
      </div>
      <div>
        <button class="login-button" *ngIf="userService.currentUser !== null" #showOptions igxRipple="white" igxButton="flat" igxButtonBackground="#731963"
          igxButtonColor="white" [igxToggleAction]="options">
          <igx-avatar initials="IG" [src]="userService.currentUser.picture" [roundShape]="true" size="small" bgColor="white">
          </igx-avatar>
          <igx-icon name="keyboard_arrow_down"></igx-icon>
        </button>
      </div>
      <igx-drop-down #options>
        <igx-drop-down-item igxRipple="purple" (click)="openProfile()">
          Profile
        </igx-drop-down-item>
        <igx-drop-down-item igxRipple="purple" (click)="handleLogout()">
          Log Out
        </igx-drop-down-item>
      </igx-drop-down>
    </igx-navbar>
    <app-login-dialog></app-login-dialog>
    <div class="content" igxFlex>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>