<div igxLayout>
  <igx-nav-drawer #nav id="project-menu" isOpen="true" [enableGestures]='true' width="280px">
    <ng-template igxDrawer>
      <span igxDrawerItem [isHeader]="true">Views</span>
      <span *ngFor="let route of topNavLinks" igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active" routerLink="{{route.path}}">{{route.name}}</span>
    </ng-template>
  </igx-nav-drawer>
  <div class="main" igxFlex igxLayout igxLayoutDir="columns">
    <igx-navbar title="LoginView" actionButtonIcon="menu" (onAction)="nav.toggle()">
      <div *ngIf="!loggedIn">
        <button #loginButton igxRipple="white" igxButton="flat" igxButtonColor="white" (click)="openDialog()">Log In</button>
      </div>

      <button *ngIf="loggedIn" #showOptions igxRipple="white" igxButton="flat" igxButtonColor="white" (click)="toggleDropDown($event)">Options</button>
      <igx-drop-down #options>
        <button #profile igxRipple="purple" igxButton="flat" igxButtonColor="black" (click)="openProfile()">Profile</button>
        <button #logoutButton igxRipple="purple" igxButton="flat" igxButtonColor="black" (click)="handleLogout()">Log Out</button>
      </igx-drop-down>

    </igx-navbar>
    <app-login-dialog (loggedIn)="handleLogin()"></app-login-dialog>
    <div class="content" igxFlex>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>